﻿
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 30px;
}

input:focus,
button{
    outline: none!important;
}

input.form-control{
    padding: 10px 20px;
}

.label{
    font-size: 85%;
}

.login-section input.form-control{
    width: 400px;
}

.container{
    width: 1000px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 700px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #652B96;
    text-transform: uppercase;
    color: #652B96;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background: -moz-linear-gradient(top, #7a36b4 0%, #593e82 100%);
    background: -webkit-linear-gradient(top, #7a36b4 0%, #652B96 100%);
    background: linear-gradient(to bottom, #7a36b4 0%, #652B96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@main-purple', endColorstr='@main-purple', GradientType=0);
    border-color: #593e82;
    padding: 10px 20px;
}

.btn-alt{
    border: 1px solid #77bc1f;
    color: #fff!important;
    border-radius: 3px;
    background: -moz-linear-gradient(top, #77bc1f 0%, #69a917 100%);
    background: -webkit-linear-gradient(top, #77bc1f 0%, #69a917 100%);
    background: linear-gradient(to bottom, #77bc1f 0%, #69a917 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@main-green', endColorstr='#69A917', GradientType=0);
}

.login-section .btn{
    margin-top: 20px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    cursor:pointer;
    background-color:#F0677C;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}

/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background: #652B96;
    color: #fff;
    text-align: right;
    border-bottom: 1px solid #EDEDED;
    font-size: 12px;
    padding: 5px 0;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding: 20px 0;
}

.navbar-brand {
    width: 380px;
    padding: 30px;
    height: auto;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 0;
    height: 60px;
    width: 60px;
    background-color: #FAF8F8;
    color: #652B96;
    text-align: center;
}

.user-settings-wrapper {
    margin-top: 10px;
    margin-left: 5px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 233px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #eee;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #FAF8F8;
}

#menu-top{
    float: left!important;
}

#menu-top a {
    color: #848484;
    text-decoration: none;
    font-size: 12px;
    padding: 20px 10px;
    text-transform: uppercase;
}

#menu-top .menu-top-active {
    background-color: #652B96;
    color: #fff;
    pointer-events: none;
}

#menu-top a:hover,
#menu-top a:focus {
    color: #652B96;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C!important;
}


.navbar-inverse {
    background-color: #fff;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #919191;
    font-size: 12px;
    border-top: 1px solid #EDEDED;
    background-color: #FFFFFF;
}

    footer a, footer a:hover {
        color: #919191;
        text-decoration: none;
    }

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #A4D069;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

.btn-sm{
    border: 0!important;
}

.btn-info,
.btn-warning{
    background: #8DCA3D;
}


.btn-info:hover,
.btn-warning:hover{
    background: #81BE32;
}

.btn-danger{
    background: #F68686;
}

/* TABLE STYLES */
.table tbody > tr > td:last-child{
    text-align: center;
}

