<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="{{asset('assets/css/bootstrap.css')}}" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="{{asset('assets/css/font-awesome.css')}}" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
     <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>info@yourdomain.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>+90-897-678-44
                </div>

            </div>
        </div>
    </header>
    {% if is_granted('ROLE_ADMIN') %}
            <!-- HEADER END-->
            <div class="navbar navbar-inverse set-radius-zero">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img class="img-responsive" src="http://cdn6.bigcommerce.com/s-wwg013lm/product_images/enviro_logo_resized_1454548205__08346.png"/>
                        </a>
                    </div>
                    <div class="left-div pull-right">
                        <div class="user-settings-wrapper">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-settings">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img src="{{asset('assets/img/64-64.jpg')}}" alt="" class="img-rounded" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Jhon Deo Alex </h4>
                                                <h5>Developer & Designer</h5>

                                            </div>
                                        </div>
                                        <hr />
                                        <h5><strong>Personal Bio : </strong></h5>
                                        Anim pariatur cliche reprehen derit.
                                        <hr />
                                        <a href="#" class="btn btn-info btn-sm">Full Profile</a>&nbsp; <a href="{{path('app_route_logout')}}" class="btn btn-danger btn-sm">Logout</a>

                                    </div>
                                </li>
                                <li>
                                     <a class="" data-toggle="" href="#" aria-expanded="false">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- LOGO HEADER END-->
        <section class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a class="{{app.request.attributes.get('_route') == route_dashboard ? 'menu-top-active' : ''}}" href="{{path('app_route_dashboard')}}">Dashboard</a></li>
                                <li><a class="{{app.request.attributes.get('_route') == route_customers ? 'menu-top-active' : ''}}" href="{{path('app_route_customer')}}">Customers</a></li>
                                <li><a class="{{app.request.attributes.get('_route') == route_services  ? 'menu-top-active' : ''}}" href="{{path('app_route_services')}}">Applicator/Supplier Request</a></li>
                                <li><a class="{{app.request.attributes.get('_route') == route_products ? 'menu-top-active' : ''}}" href="{{path('app_route_product')}}">Products</a></li>
                                <li><a class="{{app.request.attributes.get('_route') == 'to be change' ? 'menu-top-active' : ''}}" href="{{path('app_route_product')}}">Content Management</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    {% endif %}
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2015 YourCompany | By : <a href="http://www.designbootstrap.com/" target="_blank">Envirosystem</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="{{asset('assets/js/jquery-1.11.1.js')}}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="{{asset('assets/js/bootstrap.js')}}"></script>
</body>
</html>
