{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Dashboard</h4>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                This is a simple admin template that can be used for your small project or may be large projects. This is free for personal and commercial use.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-one">
                    <i  class="fa fa-venus dashboard-div-icon" ></i>
                    <div class="progress progress-striped active">
    						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    					</div>
    			</div>
                <h5>Simple Text Here </h5>
         	</div>
        </div>
    </div>
</div>
{% endblock %}