{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Please Login To Access the App </h4>
    </div>
</div>
<div class="row">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_route_login') }}" method="post">
        <div class="col-md-6">
            <label>Enter Email ID : </label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            <label>Enter Password :  </label>
            <input type="password" class="form-control" id="password" name="_password">
            <hr>
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </button>
            {# <a href="index.html" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </a>&nbsp; #}
        </div>
    </form>
    <div class="col-md-6">
        <div class="alert alert-success">
             <strong> Instructions To Use:</strong>
            <ul>
                <li>
                   Lorem ipsum dolor sit amet ipsum dolor sit ame
                </li>
                <li>
                     Aamet ipsum dolor sit ame
                </li>
                <li>
                   Lorem ipsum dolor sit amet ipsum dolor
                </li>
                <li>
                     Cpsum dolor sit ame
                </li>
            </ul>
           
        </div>
    </div>
</div>
{% endblock %}