{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">Products</h1>
    </div>
</div>
<div class="row">
    <div class="form-group pull-right col-md-3">
        <input type="text" class="search form-control" placeholder="Ex. johndoe@test.com">
    </div>  
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Details</th>
                        <th>Requesting</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>mark@test.com</td>
                        <td>0933232323</td>
                        <td>Balulho na siya</td>
                        <td><span class="label label-default">Applicator</span></td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-envelope"></span></a>
                            <a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>pj@test.com</td>
                        <td>0933232323</td>
                        <td>Pogi daw siya</td>
                        <td><span class="label label-success label-lg">Supplier</span></td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-envelope"></span></a>
                            <a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>sibyp@test.com</td>
                        <td>0933232323</td>
                        <td>Amazing daw siya</td>
                        <td><span class="label label-default label-lg">Applicator</span></td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-envelope"></span></a>
                            <a href="#" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}